<p>
  For reward, here is a list of awesome computer scientists!
</p>

<p>
  You want more? Add them yourself!
</p>
<p>
  <input #newname>
  <button (click)="addName(newname)">Add</button>
</p>
<ul>
  <li *ng-for="#item of dbDriver.getEntities()">{{item.name}}</li>
</ul>
