<div    >
  <h1>
  Entities Manager
  </h1>
  <div class="row">
  <br>
  
    <div class="col-xs-3" >
       {{selectedValue}} selected
    </div>
    
    <div class="col-xs-3" >
      <button (click)="addEntity(selectedValue)">Add</button>
    </div>
   
    <div  class="col-xs-6">
      <c2-dropdown [(selected)]="selectedValue" #dropdown1 (^toggleemenu)='menutoggled($event)' [items]=etts.entities>
        <button class="btn btn-primary" type="button">Select Entity 
          <span class="caret"></span>
        </button>
        {{showAll(dropdown1)}}
        <ul dropdownmenu class="dropdown-menu">
          <li *ng-for="#choice of dropdown1.items">
              <a dropdownitem href>{{choice.name}}</a>
            </li>
        </ul>
      </c2-dropdown>
    </div>
  
  </div>
  
  </div>
