<h1>Howdy!</h1>

<h2>
Gratz!
</h2>

<p>
Your deployment of Angular 2 Seed worked perfectly!
Click <a [router-link]="['/about']">here</a> to get your reward!
Click <a href="/entities">here</a> to manage entities
</p>
